<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Bitter:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Category Manager</title>
</head>

<body>
    <div class="page-container">
        <div class="nav-section">
            <%- include("nav", { categories: categories }) %>
        </div>
        <div class="main-content">
            <h1 class="page-title">Category Manager</h1>

            <form class="category-form" action="/categories" method="POST">
                <input type="text" placeholder="Add new category" name="newCategory" id="newCategory" minlength="2"
                    maxlength="40">
                <input type="hidden" name="action" value="add">
                <button class="category-add-button" type="submit">Add</button>
            </form>
            <div class="error-message">
                <%= errorMessage %>
            </div>

            <table class="category-table">
                <tbody>
                    <% categories.forEach(category=> { %>
                        <tr>
                            <td>
                                <span class="category-name">
                                    <%= category.name %>
                                </span>
                                <form action="/categories" class="edit-category-form" method="POST">
                                    <input type="text" name="updatedCategory" class="category-input"
                                        value="<%= category.name %>" style="display: none" minlength="2" maxlength="40">
                                    <input type="hidden" name="category" value="<%= category.name %>">
                                    <input type="hidden" name="action" value="edit">
                                    <button class="update-button" type="submit" style="display: none">Update</button>
                                </form>


                            </td>
                            <td>
                                <button onclick="toggleEdit(this)">
                                    <img src="/edit.svg" alt="Edit Icon">
                                </button>
                            </td>
                            <td>
                                <form action="/categories" method="POST">
                                    <input type="hidden" name="category" value="<%= category.name %>">
                                    <input type="hidden" name="action" value="delete">
                                    <button>
                                        <img src="/delete_forever.svg" alt="Delete Icon">
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>


        </div>
    </div>

    <script>
        function toggleEdit(button) {
            const row = button.closest("tr");
            const categoryName = row.querySelector(".category-name");
            const categoryInput = row.querySelector(".category-input");
            const updateButton = row.querySelector(".update-button");

            if (categoryInput.style.display === "none") {
                categoryInput.style.display = "inline";
                updateButton.style.display = "inline";
                categoryName.style.display = "none";
                categoryInput.focus();
            } else {
                categoryInput.style.display = "none";
                updateButton.style.display = "none";
                categoryName.style.display = "inline";
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>