<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Category Manager</title>
</head>

<body>
    <div class="page-container">
        <div class="nav-section">
            <%- include("nav", { categories: categories }) %>
        </div>
        <div class="main-content">
            <h1 class="page-title">Category Manager</h1>

            <form class="category-form" action="/categories" method="POST">
                <input type="text" placeholder="new category" name="newCategory" id="newCategory">
                <input type="hidden" name="action" value="add">
                <button type="submit">Add New Category</button>
            </form>
            <div class="error-message">
                <%= errorMessage %>
            </div>

            <table class="category-table">
                <tbody>
                    <% categories.forEach(category=> { %>
                        <tr>
                            <td>
                                <span class="category-name">
                                    <%= category %>
                                </span>
                                <form action="/categories" class="edit-form" method="POST">
                                    <input type="text" name="updatedCategory" class="category-input"
                                        value="<%= category %>" style="display: none">
                                    <input type="hidden" name="category" value="<%= category %>">
                                    <input type="hidden" name="action" value="edit">
                                    <button class="update-button" type="submit" style="display: none">Update</button>
                                </form>


                            </td>
                            <td>
                                <button onclick="toggleEdit(this)">
                                    <img src="/edit.svg" alt="Edit Icon">
                                </button>
                            </td>
                            <td>
                                <form action="/categories" method="POST">
                                    <input type="hidden" name="category" value="<%= category %>">
                                    <input type="hidden" name="action" value="delete">
                                    <button>
                                        <img src="/delete_forever.svg" alt="Delete Icon">
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>


        </div>
    </div>

    <script>
        function toggleEdit(button) {
            const row = button.closest("tr");
            const categoryName = row.querySelector(".category-name");
            const categoryInput = row.querySelector(".category-input");
            const updateButton = row.querySelector(".update-button");

            if (categoryInput.style.display === "none") {
                categoryInput.style.display = "inline";
                updateButton.style.display = "inline";
                categoryName.style.display = "none";
                categoryInput.focus();
            } else {
                categoryInput.style.display = "none";
                updateButton.style.display = "none";
                categoryName.style.display = "inline";
            }
        }
    </script>

</body>

</html>